{% include base_path %}
{% assign page_locale = page.locale | default: site.locale %}
{% assign share_url = base_path | append: page.url | url_encode %}

<section class="page__share">
  {% if site.data.ui-text[page_locale].share_on_label %}
  <h4 class="page__share-title">{{ site.data.ui-text[page_locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}" class="btn btn--linkedin"
    target="_blank" rel="noopener noreferrer nofollow" referrerpolicy="no-referrer"
    title="{{ site.data.ui-text[page_locale].share_on_label | default: 'Share on' }} LinkedIn"><i
      class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

  <a href="https://twitter.com/intent/tweet?text={{ share_url }}" class="btn btn--twitter"
    target="_blank" rel="noopener noreferrer nofollow" referrerpolicy="no-referrer"
    title="{{ site.data.ui-text[page_locale].share_on_label | default: 'Share on' }} Twitter"><i
      class="fab fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://bsky.app/intent/compose?text={{ share_url }}" class="btn btn--bluesky"
    target="_blank" rel="noopener noreferrer nofollow" referrerpolicy="no-referrer"
    title="{{ site.data.ui-text[page_locale].share_on_label | default: 'Share on' }} Bluesky"><i class="fab fa-bluesky"
      aria-hidden="true"></i><span> Bluesky</span></a>
</section>
